<div id="about-container" class="page-fill">
	<div id="about" class="col-sm-6 col-sm-offset-3">
		<h2>fleek</h2>
		<h3>What is on fleek?</h3>
		<p>fleek is a service that allows you to solve problems anywhere at any time. Using fleek, you can hone your math and science skills on our 6000+ problem database. We track your statistics and tell you how to improve. blah blah blah make this sound cooler</p>
		<h3>Who is on fleek?</h3>
		<img class="team-image" src="/assets/img/team.png">
	</div>
</div>