<div id="login-container" class="page-fill">
	<div id="login" class="col-sm-6 col-sm-offset-3" ng-controller="loginController">
		<h2>fleek</h2>
		<form name="loginForm" ng-submit="submit()" novalidate>
			<div class="alert alert-danger alert-dismissible" role="alert" ng-show="err">
				<button type="button" class="close" ng-click="err = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Incorrect username/password combination.
			</div>
			<div class="form-group">
				<input focus-me="current=='login'" type="email" ng-model="user" class="form-control" name="user" placeholder="email" required>
			</div>
			<div class="form-group">
				<input type="password" ng-model="pass" class="form-control" name="pass" placeholder="password" required>
			</div>

			<button class="btn btn-primary" ng-disabled="loginForm.$invalid || submitted" type="submit">Log In</button>
		</form>
	</div>
</div>