<nav class="navbar navbar-inverse navbar-fixed-top ">
	<div class="container-fluid">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href class="navbar-brand" ng-click="setView('splash')">fleek</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href ng-click="setView('problem')">Browse</a></li>
	        <li class="dropdown">
	          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href>Profile</a></li>
	            <li><a href>Settings</a></li>
	            <li ng-show="isAuthenticated" ng-click="logout()"><a href>Log Out</a></li>
	            <li><a href="https://docs.google.com/document/d/1yYM6mXM-0I31xAXclFaWmdSFogDHw2z343aKmHHBDoo/edit?usp=sharing" target="blank">Bug Report</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	</div>
</nav>