<div id="problem-container" class="page-fill">
	<div id="problem" class="col-md-6 col-md-offset-3">
		<h2>fleek</h2>
		<div class="row">
			<div class="col col-sm-6">
				<h3 class="subtitle">{{problem.meta.setPattern}} {{problem.meta.setInstance}}  #{{problem.meta.setIndex+1}} </h3>
				<h4>  </h4>
			</div>
			<div class="col col-sm-6">
				<div class="text-right right-buttons">
					<a href="/search/{{searchHistory}}" class="btn btn-xs btn-primary">Back to Search</a> 
					<a ng-disabled="reported" class="btn btn-xs btn-danger" ng-click="report(problem._id)">Report Mistake</a><br>			
				</div>
			</div>
		</div>
		<div class="col col-sm-12">
		<div dynamic="problem.statement"> </div>
		<div class="pull-right">
			Source: <a href="{{problem.source.url}}" target="blank">{{problem.source.name}}</a>
		</div>
		<div style="color: #fff;">{{problem.meta.response}} {{problem.response}}</div>
		<div class="alert alert-success alert-dismissible" role="alert" ng-show="showAnswer">
			<button type="button" class="close" ng-click="showAnswer = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Answer: {{problem.response['answer']}}
		</div>
		<div class="alert alert-success alert-dismissible" role="alert" ng-show="correct">
			<button type="button" class="close" ng-click="correct = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Correct<span ng-hide="attempted">!</span><span ng-show="attempted">, but you've already attempted this problem...</span>
		</div>
		<div class="alert alert-warning alert-dismissible" role="alert" ng-show="incorrect">
			<button type="button" class="close" ng-click="incorrect = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Try again!
		</div>
		<form name="intProblemForm" ng-show="problem.meta.response == 'integerAnswer'" novalidate>
			<div class="form-group">
				<div class="control-group" ng-class="{'has-error':intProblemForm.intResponse.$invalid}">
					<div class="input-group">
						<input autofocus focus-me="current=='/views/problem.html'" type="number" class="form-control" ng-model="intResponse" name="intResponse" placeholder="answer" ng-disabled="correct"></input>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit" ng-disabled="intProblemForm.$invalid" ng-click="intValidate(intResponse)">Go</button>
						</span>
					</div>
				</div>
			</div>
		</form>
		<div ng-repeat="(key,answer) in choices" ng-show="problem.meta.response == 'multipleChoice'">
			<button class="btn btn-primary answer-choice" ng-click="multiValidate($index)" ng-disabled="correct">{{key}}</button> <span dynamic="answer"></span>
		</div>
		<div ng-show="problem.meta.response == 'shortAnswer'">
			<button class="btn btn-primary" ng-hide="showAnswer" ng-click="showAnswer = true">Show Answer</button>
			<button class="btn btn-success" ng-show="showAnswer" ng-click="shortValidate(true)" ng-disabled="answered">Correct</button>
			<button class="btn btn-danger" ng-show="showAnswer" ng-click="shortValidate(false)" ng-disabled="answered">Incorrect</button>
		</div>
	</div>
	</div>
</div>