<div id="problem-container" class="page-fill">
	<div id="problem" class="col-sm-6 col-sm-offset-3" ng-controller="problemController">
		<h2>fleek</h2>
		<p>	Let $ ABC $ be equilateral, and $ D, E, $ and $ F $ be the midpoints of $ \overline{BC},\overline{CA}, $ and $ \overline{AB}, $ respectively.  There exist points $ P, Q, $ and $ R $ on $ \overline{DE},\overline{EF}, $ and $ \overline{FD}, $ respectively, with the property that $ P $ is on $ \overline{CQ}, Q $ is on $ \overline{AR}, $ and $ R $ is on $ \overline{BP}. $  The ratio of the area of triangle $ ABC $ to the area of triangle $ PQR $ is $ a+b\sqrt{c}, $ where $ a, b $ and $ c $ are integers, and $ c $ is not divisible by the square of any prime.  What is $ a^{2}+b^{2}+c^{2} $? </p>
		<div class="input-group">
			<input focus-me="current=='problem'" type="text" class="form-control" placeholder="answer"></input>
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Go</button>
			</span>
		</div>
	</div>
</div>