<div id="profile-container" class="page-fill">
	<div id="profile" class="col-md-6 col-md-offset-3">
		<h2>fleek</h2>
		<div class="row">
			<div class="col col-sm-6">
				<h3>{{user.username}}</h3>
				<h4><em>{{user.gender}}, {{user.country}}</em></h4>
				<h4>fleek level: {{user.stats.rating}}<h4>
				<h5>solved: {{user.stats.solvedCount}}, attempted: {{user.stats.attemptedCount}}</h5>
				<button class="btn btn-primary" ng-click="resetTutorial()" ng-disabled="reset">Show all hints</button>
			</div>
			<div class="col col-sm-6">
				<pie-chart id="user-graph" data="piedata" options="pieoptions"></pie-chart>				
			</div>
		</div>
	</div>
</div>

<script src="/assets/js/vendor/d3.v3.min.js"></script>