<div id="search-container" class="page-fill">
	<div id="search" class="col-sm-6 col-sm-offset-3" ng-controller="searchController">
		<h2>fleek</h2>
		<form name="searchForm" novalidate>
			<div class="form-group">
				<div class="input-group">
					<input focus-me="current=='search'" type="text" class="form-control" ng-model="search" placeholder="search"></input>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">Go</button>
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="btn-group">
					<a href class="btn btn-primary btn-multiple" ng-click="amc8 =! amc8" ng-class="{'active':amc8==true}">AMC 8</a>
					<a href class="btn btn-primary btn-multiple" ng-click="amc10 =! amc10" ng-class="{'active':amc10==true}">AMC 10</a>
					<a href class="btn btn-primary btn-multiple" ng-click="amc12 =! amc12" ng-class="{'active':amc12==true}">AMC 12</a>
					<a href class="btn btn-primary btn-multiple" ng-click="aime =! aime" ng-class="{'active':aime==true}">AIME</a>
					<a href class="btn btn-primary btn-multiple" ng-click="usamo =! usamo" ng-class="{'active':usamo==true}">USAMO</a>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-group" ng-class="{'has-error':searchForm.startYear.$invalid}">
					<input type="number" class="form-control" ng-model="startYear" min="{{minYear}}" max="{{maxDate | date:'yyyy'}}"></input>
				</div>
				<div class="text-center col-sm-1">to</div>
				<div class="col-sm-3 control-group" ng-class="{'has-error':searchForm.endYear.$invalid}">
					<input type="number" class="form-control" ng-model="endYear" min="{{minYear}}" max="{{maxDate | date:'yyyy'}}"></input>
				</div>
			</div>
		</form>
	</div>
</div>