<div id="search-container" class="page-fill">
	<div id="search" class="col-sm-6 col-sm-offset-3" ng-controller="searchController">
		<h2>fleek</h2>
		<form name="searchForm" class="row" novalidate>
			<div class="form-group">
				<div class="input-group">
					<input focus-me="current=='/views/search.html'" type="text" class="form-control" ng-model="text" placeholder="search"></input>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit" ng-disabled="searchForm.$invalid" ng-click="submit()">Go</button>
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="btn-group" role="group" ng-repeat="contest in contestList">
					<a href class="btn btn-sm btn-primary btn-multiple" role="button" ng-click="contests[contest] =! contests[contest]" ng-class="{'active':contests[contest]==true}">{{contest}}</a> 
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-group" ng-class="{'has-error':searchForm.startYear.$invalid}">
					<input type="number" class="form-control" ng-model="startYear" min="{{minYear}}" max="{{maxDate | date:'yyyy'}}"></input>
				</div>
				<div class="text-center col-sm-1">to</div>
				<div class="col-sm-3 control-group" ng-class="{'has-error':searchForm.endYear.$invalid}">
					<input type="number" class="form-control" ng-model="endYear" min="{{minYear}}" max="{{maxDate | date:'yyyy'}}"></input>
				</div>
			</div>
		</form>
		<div class="row">
			<p class="text-right">Problems found: {{results.length}}</p>
			<table id="search-results" class="table" data-height="results.length">
				<thead>
			    	<tr>
			    		<th data-field="contest" data-sortable="true">Contest</th>
			    		<th data-field="year" data-sortable="true">Year</th>
			     		<th data-field="number">Problem</th>
			     		<th data-field="type" data-sortable="true">Type</th>
			    	</tr>
			    </thead>
				<tr ng-repeat="result in results">
					<td>{{result.meta.setPattern}}</td>
					<td>{{result.meta.setInstance}}</td>
					<td><a href ng-click="setProb(result.meta.setPattern,result.meta.setInstance,result.meta.setIndex+1,result.meta.response,result.source,result.statement)">#{{result.meta.setIndex+1}}</a></td>
					<td>{{result.meta.response}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>