<div id="set-container" class="page-fill">
	<div id="set" class="col-md-6 col-md-offset-3">
		<h2>fleek</h2> 

		<div class="row">
			<div class="col col-sm-6">
				<h3 class="subtitle">{{problems.meta.name}}</h3>
				<h4>  </h4>
			</div>
			<div class="col col-sm-6">
				<div class="text-right right-buttons">
					<a href="/set" class="btn btn-xs btn-primary">Back to Sets</a>
					<a ng-disabled="reported" class="btn btn-xs btn-danger" ng-click="report(problem._id)">Report Mistake</a><br>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group button-row col-sm-12">
				<div class="btn-group" role="group" ng-repeat="i in range(problems.meta.numProblems) track by $index">
					<a href class="btn btn-sm btn-primary btn-multiple" role="button" ng-click="setCurrent(i)" ng-class="{'active':currentProblem == i}">{{problems.meta.keys[i]}}</a> 
				</div>
			</div>
		</div>

		<div dynamic="problem.statement"> </div>
		<div class="pull-right">
			Source: <a href="{{problem.source.url}}" target="blank">{{problem.source.name}}</a>
		</div>
		<div style="color: #fff;">{{problem.meta.response}} {{problem.response}}</div>
		<div class="row problem-alerts">
			<button class="btn btn-xl btn-primary pull-left" ng-click="setCurrent(currentProblem-1)"><</button>
			<button class="btn btn-xl btn-primary pull-right" ng-click="setCurrent(currentProblem+1)">></button>
			<div class="alert" role="alert" ng-show="problem.meta.response == 'shortAnswer' && done[currentProblem] != 0" ng-class="{'alert-success': done[currentProblem] == 1, 'alert-danger': done[currentProblem] == -1, 'alert-warning':done[currentProblem] == 2}">
				Answer: {{problem.response['answer']}}
			</div>
			<div class="alert alert-sm alert-success" role="alert" ng-show="done[currentProblem] == 1 && problem.meta.response != 'shortAnswer'">
				Correct!
			</div>
			<div class="alert alert-warning" role="alert" ng-show="done[currentProblem] == -1 && problem.meta.response != 'shortAnswer'">
				Try again!
			</div>
		</div>
		<form name="intProblemForm" ng-show="problem.meta.response == 'integerAnswer'" novalidate>
			<div class="form-group">
				<div class="control-group" ng-class="{'has-error':intProblemForm.intAnswers[currentProblem].$invalid}">
					<div class="input-group">
						<input autofocus focus-me="current=='/views/set.html'" type="number" class="form-control" ng-model="intAnswers[currentProblem]" name="intAnswers[currentProblem]" placeholder="answer" ng-disabled="done[currentProblem] == 1"></input>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit" ng-disabled="intProblemForm.$invalid" ng-click="intValidate(intAnswers[currentProblem])">Go</button>
						</span>
					</div>
				</div>
			</div>
		</form>
		<div ng-repeat="(key,answer) in choices" ng-show="problem.meta.response == 'multipleChoice'">
			<button class="btn btn-primary answer-choice" ng-click="multiValidate($index)" ng-disabled="done[currentProblem] == 1">{{key}}</button> <span dynamic="answer"></span>
		</div>
		<div ng-show="problem.meta.response == 'shortAnswer'">
			<button class="btn btn-primary" ng-show="done[currentProblem] == 0" ng-click="done[currentProblem] = 2">Show Answer</button>
			<button class="btn btn-success" ng-show="done[currentProblem] != 0" ng-click="shortValidate(true)" ng-disabled="done[currentProblem] != 0 && done[currentProblem] != 2">Correct</button>
			<button class="btn btn-danger" ng-show="done[currentProblem] != 0" ng-click="shortValidate(false)" ng-disabled="done[currentProblem] != 0 && done[currentProblem] != 2">Incorrect</button>
		</div>
	</div>
</div>