<div id="set-container" class="page-fill">
	<div id="set" class="col-md-6 col-md-offset-3">
		<h2>fleek</h2>

		<div class="row">
			<div class="col col-sm-6">
				<h3 class="subtitle">{{problems.meta.name}}</h3>
			</div>
			<div class="col col-sm-6">
				<div class="text-right right-buttons">
					<a href="/set" class="btn btn-xs btn-primary">Back to Sets</a>
					<a ng-disabled="reported" class="btn btn-xs btn-warning" ng-click="report(problem._id)">Report Mistake</a><br>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-12">
				<div class="alert alert-info alert-dismissible" role="alert" ng-show="tutorial.paginate">
					<button type="button" class="close" ng-click="closeTutorial('paginate')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					Hint: Press J and K to switch between problems
				</div>
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-primary" ng-click="setCurrent(currentProblem-1)">Prev</button>
						<button class="btn btn-primary" ng-click="setCurrent(currentProblem+1)">Next</button>
					</span>
					<select class="form-select form-control" ng-model="currentProblem" ng-change="updateCurrent()" ng-options="keys.indexOf(key) as key for key in keys"></select>
					<span class="input-group-btn"><button class="btn btn-primary disabled">{{numCorrect}}/{{problems.meta.numProblems}}</button></span>
				</div>
			</div>
		</div>

		<div class="problem-tags text-right">
			<em><span ng-repeat="tag in problem.tags">#{{tag.tagText}} </span></em>
		</div>
		<div dynamic="problem.statement"> </div>
		<div class="row">
			<div class="col col-sm-12 text-right">
				Source: <a href="{{problem.source.url}}" target="blank">{{problem.source.name}}</a>
			</div>
		</div>

		<div class="alert" role="alert" ng-show="problem.meta.response == 'shortAnswer' && done[currentProblem] != 0" ng-class="{'alert-success': done[currentProblem] == 1, 'alert-danger': done[currentProblem] == -1, 'alert-warning':done[currentProblem] == 2}">
			Answer: {{problem.response['answer']}} <span ng-show="done[currentProblem] != 0"><br></span>{{messages[currentProblem]}} <span ng-show="attempted[currentProblem]">You've already tried this problem!</span>
		</div>
		<div class="alert alert-sm alert-success" role="alert" ng-show="done[currentProblem] == 1 && problem.meta.response != 'shortAnswer'">
			{{messages[currentProblem]}}<span ng-show="attempted[currentProblem]">Correct, but you've already tried this problem!</span>
		</div>
		<div class="alert alert-warning" role="alert" ng-show="done[currentProblem] == -1 && problem.meta.response != 'shortAnswer'">
			{{messages[currentProblem]}} <span ng-show="attempted[currentProblem]">Try again!</span>
		</div>

		<div class="answer-area">
			<form name="intProblemForm" ng-show="problem.meta.response == 'integerAnswer'" novalidate>
				<div class="alert alert-info alert-dismissible" role="alert" ng-show="tutorial.int">
						<button type="button" class="close" ng-click="closeTutorial('int')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						Hint: Press the ENTER key to select the input field
					</div>
				<div class="form-group">
					<div class="control-group" ng-class="{'has-error':intProblemForm.intAnswers[currentProblem].$invalid}">
						<div class="input-group">
							<input id="focus-input" type="number" class="form-control" ng-model="intAnswers[currentProblem]" name="intAnswers[currentProblem]" placeholder="answer" ng-disabled="done[currentProblem] == 1"></input>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit" ng-disabled="done[currentProblem] == 1" ng-click="intValidate(intAnswers[currentProblem])">Go</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			<div ng-show="problem.meta.response == 'multipleChoice'">
				<div class="alert alert-info alert-dismissible" role="alert" ng-show="tutorial.multi">
					<button type="button" class="close" ng-click="closeTutorial('multi')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					Hint: Type a letter to answer
				</div>
				<div ng-repeat="(key,answer) in choices">
					<button class="btn btn-primary answer-choice" ng-click="multiValidate($index)" ng-disabled="done[currentProblem] == 1">{{key}}</button> <span dynamic="answer"></span>
				</div>
			</div>
			<div ng-show="problem.meta.response == 'shortAnswer'">
				<div class="alert alert-info alert-dismissible" role="alert" ng-show="tutorial.short">
					<button type="button" class="close" ng-click="closeTutorial('short')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					Hint: Press the ENTER key to show the answer, and C/I for correct/incorrect
				</div>
				<button class="btn btn-primary" ng-show="done[currentProblem] == 0" ng-click="done[currentProblem] = 2">Show Answer</button>
				<button class="btn btn-success" ng-show="done[currentProblem] != 0" ng-click="shortValidate(true)" ng-disabled="done[currentProblem] != 0 && done[currentProblem] != 2">Correct</button>
				<button class="btn btn-danger" ng-show="done[currentProblem] != 0" ng-click="shortValidate(false)" ng-disabled="done[currentProblem] != 0 && done[currentProblem] != 2">Incorrect</button>
			</div>
		</div>
	</div>
</div>