<div id="setlist-container" class="page-fill">
	<div id="setlist" class="col-md-6 col-md-offset-3">
		<h2>fleek</h2>
		<h4>Choose a problem set:</h4>
		<div class="sets-container col col-sm-6">
			<ul class="sets-main nav nav-pills nav-stacked" ng-repeat="(key,value) in sets">
				<li role="presentation" class="set-main" ng-class="{'active':currentSet == key}"><a href ng-click="setCurrent(key)">{{key}}</a></li>
			</ul>
		</div>
		<div class="sets-container col col-sm-6">
			<ul class="sets-secondary nav nav-pills nav-stacked" ng-repeat="item in sets[currentSet]">
				<li role="presentation" class="set-secondary" ><a href ng-click="goTo(item.id)">{{item.instance}}</a></li>
			</ul>
		</div>
	</div>
</div>