<div id="splash-container" class="row">
	<!-- <div id="splash-container" class="page-fill"> -->
		<div id="splash" class="col-md-4 col-md-push-7">
			<div id="splash-content" class="row">
				<div>
					<img id="splash-logo" src="/assets/img/icons/logo.png">
				</div>
				<h3 class="text-center"><em>solve everything on fleek</em></h3>
				<div class="col-xs-8 col-xs-offset-2" id="splash-buttons">
					<a href="/login" ng-hide="userLoggedIn" id="splash-login" class="btn btn-primary btn-block">Log In</a>
					<a href="/signup" ng-hide="userLoggedIn" id="splash-signup" class="btn btn-primary btn-block">Sign Up</a>
					<a ng-show="userLoggedIn" id="splash-logout" class="btn btn-primary btn-block" ng-click="logout()">Log Out</a>
				</div>
			</div>
		</div>
	<!-- </div> -->
	<div class="col-md-7 col-md-pull-4">
		<div id="map-container">
		</div>
	</div>
</div>

<script src="/assets/js/vendor/ammap.js"></script>
<script src="/assets/js/vendor/light.min.js"></script>
<script src="/assets/js/vendor/worldLow.min.js"></script>
<script src="/assets/js/main.js"></script>