body {
	height: 100vh;
}

h1 {
	/*color: #fefefe;*/
}
.navbar {
	margin-bottom: 0;
}
#page-content {
	width: 100%;
	height: 100%;
	padding: 0;
}
#splash-top{
	position: relative;
	top: 20vh;
}
.page-fill {
	padding-top: 80px;
	height: 100%;
	width: 100%;
}
/*remove accessibility outline on focus*/
.btn {
	outline: none !important;
}
/*set focus and active attributes for the select multiple buttons*/
.btn-multiple:focus {
	background-color: #00996d;
	border-color: #00805b;
	box-shadow: none;
}
.btn-multiple.active {
	background-color: #006649;
	border-color: #00422f;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
/*hide type="number" spin buttons*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}