html {
	background-color: #efefef;
	height: 100%;
}
body {
	height: 100%;
}
/*navbar styling*/
.navbar {
	margin-bottom: 0;
}
.nav-logo {
	position: relative;
	top: -10px;
	width: 40px;
}
.nav-logo:hover {
	opacity: 0.6;
}
.navbar-brand {
	font-size: 200%;
}
.icon-bar {
	background-color: #fff !important;
}
.navbar-toggle:active,
.navbar-toggle:focus,
.navbar-toggle:hover {
	background-color: #277D8A !important;
}
/*page styling*/
#page-content {
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #efefef;
}
#splash-container {
	margin: 0;
}
#splash-content {
	margin: 0;
}
#map-container {
	padding-top: 60px;
	position: absolute;
	width: calc(100% - 30px);
	height: 80vw;
}
#splash{
	position: relative;
	z-index: 999;
	background-color: #fff;
	top: 60px;
	padding: 10px;
	border-radius: 0;
	box-shadow: 0 0 20px #222;
}
#splash-logo {
	width: 150px;
	display: block;
	margin: 10px auto;
}
#splash-buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}
.page-fill {
	padding-top: 60px;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}
/*remove accessibility outline on focus*/
.btn {
	outline: none !important;
}
.btn-xl {
	height: 52px;
}
.right-buttons {
	margin-bottom: 10px;
}
/*set focus and active attributes for the select multiple buttons*/
.btn-multiple:focus {
	background-color: #dc5133;
	border-color: #d24324;
	box-shadow: none;
}
.btn-multiple.active {
	background-color: #bc3c20;
	border-color: #9d321b;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
/*hide type="number" spin buttons*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*add label to progress bar*/
.progress-label {
    float: left;
    margin-right: 1em;
}
/*add margin to answer answer*/
.answer-area {
	margin: 20px 0;
}
/*set multiple choice styling*/
.answer-choice {
	width: 35px;
	margin-bottom: 5px;
}
/*set tag text styling*/
.problem-tags {
	color: #00718A;
}
/*set embedded asy img size and display them in their own rows*/
.problem-img {
	min-width: 150px;
	min-height: 150px;
	max-width: 100%;
	display: block;
	margin: 14px auto;
}
.subtitle {
	margin-top: 0;
}
/*style table header sort arrows*/
.sort-arrow {
	height: 14px;
}
/*style team image on about page*/
.team-image {
	width: 100%;
	margin-bottom: 10px;
}
/*set pointer over search result rows to indicate a link*/
#search-results tr {
	cursor: pointer;
}
/*setlist max height*/
.sets-container {
	overflow-y: auto;
	margin-bottom: 20px;
}
/*main set sidebar background color*/
.sets-main {
	background-color: #f8ccc6;
}
.sets-secondary {
	background-color: #fff;
}
/*set overflow for button row*/
.button-row {
	overflow-x: auto;
	width: 100%;
}
/*set problems page styling*/
.problem-alerts {
	margin: 15px 0;
}
.problem-alerts button{
	width: 8.3333333333%;
	vertical-align: center;
}
.problem-alerts .alert {
	width: 83.3333333333%;
	margin-left: 8.3333333333%;
}
/*hide fleek vine link*/
.fleek,
.fleek:hover,
.fleek:visited,
.fleek:active,
.fleek:focus {
	color: #333;
	text-decoration: none;
}
/*media queries for splash page map size*/
@media only screen and (min-width: 480px) {
	#map-container {
		height: 60vw;
	}
	.vine-embed {
		width: 480px;
		height: 480px;
	}
}

@media only screen and (min-width: 768px) {
	.sets-container {
		max-height: calc(100vh - 200px);
	}
}

@media only screen and (min-width: 992px) {
	#splash{
		top: 20vh;
		border-radius: 20px;
	}
	#map-container {
		height: 100vh;
	}
	
}