/*main stuff*/
html {
	background-color: #fff;
	height: 100%;
}
body {
	height: 100%;
}
/*navbar styling*/
.navbar {
	margin-bottom: 0;
}
.nav-logo {
	position: relative;
	top: -10px;
	width: 40px;
}
.nav-logo:hover {
	opacity: 0.6;
}
.navbar-brand {
	font-size: 200%;
}
.icon-bar {
	background-color: #fff !important;
}
.navbar-toggle:active,
.navbar-toggle:focus,
.navbar-toggle:hover {
	background-color: #ed458d !important;
}
/*page styling*/
#page-content {
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #fff;
}
.page-fill {
	padding-top: 60px;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}
/*splash page styling*/
#splash-container {
	margin: 0;
}
#splash-content {
	margin: 0;
}
#map-title {
	position: absolute;
	left: 40px;
	top: 100px;
	font-size: 18px;
	opacity: 0.8;
}
#map-container {
	padding-top: 60px;
	position: absolute;
	width: calc(100% - 30px);
	height: 80vw;
}
#splash{
	position: relative;
	z-index: 999;
	background-color: #fff;
	top: 60px;
	padding: 10px;
	border-radius: 0;
	box-shadow: 0 0 10px #222;
}
#splash-logo {
	width: 150px;
	display: block;
	margin: 10px auto;
}
#splash-buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*buttons: remove accessibility outline, adjust margins*/
.btn {
	outline: none !important;
}
.right-buttons {
	margin-bottom: 10px;
}
/*search page: add pointer for results style sort arrows, adjust progress bar margins, add progress bar label*/
#search-results tr {
	cursor: pointer;
}
.sort-arrow {
	height: 14px;
}
.progress-container {
	min-width:100px; 
	width: auto !important; 
	width: 100px;
}
.progress {
	margin-bottom: 0px;
}
.progress-label {
    float: right;
    margin-left: 1em;
}
/*button groups: set focus and active attributes*/
.btn-multiple:focus {
	background-color: #ed458d;
	border-color: #eb2e7f;
	box-shadow: none;
}
.btn-multiple.active {
	background-color: #e91670;
	border-color: #c81361;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
/*input: hide number spin buttons, remove select rounded corners*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-select {
	border-radius: 0;
	-webkit-appearance: none;
}
/*answers: add margin to answer area, set multiple choice styling, */
.answer-area {
	margin: 20px 0;
}
.answer-choice {
	width: 35px;
	margin-bottom: 5px;
	margin-right: 5px;
}
/*problems: remove subtitle margin, set tag text color*/
.subtitle {
	margin-top: 0;
}
.problem-tags {
	color: #50c6e7;
}
/*asy images: set embedded size and display them in their own rows*/
.problem-img {
	min-width: 150px;
	min-height: 150px;
	max-width: 100%;
	display: block;
	margin: 14px auto;
}
/*about page: hide fleek vine link, adjust team image dimensions*/
.fleek,
.fleek:hover,
.fleek:visited,
.fleek:active,
.fleek:focus {
	color: #333;
	text-decoration: none;
}
.team-image {
	width: 100%;
	margin-bottom: 10px;
}
/*user page image: set dimensions*/
#user-graph {
	width: 100%;
	min-height: 300px;
}
#user-graph svg {
	width: 100%;
}
#user-graph text {
	font-family: 'Roboto' !important;
}
/*set list: add max height, background colors, button styling*/
.sets-container {
	overflow-y: auto;
	margin-bottom: 20px;
}
.sets-main {
	background-color: #fbd4e5;
}
.set-main a:hover {
	background-color: #f9c2da !important;
}
.sets-secondary {
	background-color: #fef8fb;
}
.set-secondary a:hover {
	background-color: #fde6f0 !important;
}
.button-row {
	overflow-x: auto;
	width: 100%;
}
/*media queries for splash page map size, vine sizing, set list*/
@media only screen and (min-width: 480px) {
	#map-container {
		height: 60vw;
	}
	.vine-embed {
		width: 480px;
		height: 480px;
	}
}
@media only screen and (min-width: 768px) {
	.sets-container {
		max-height: calc(100vh - 200px);
	}
}
@media only screen and (min-width: 992px) {
	#splash{
		top: 20vh;
		border-radius: 10px;
	}
	#map-container {
		height: 100vh;
	}
	#user-graph svg {
		width: 120%;
	}
	
}